@use "../mixins";
@use "../variables";

.home-container {
    padding: 0px;
    border-radius: 20px;

    @include mixins.desktop-only {
        background-image: url("/assets/hero-desktop.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        color: #fff;

        background-attachment: fixed;
    }
}


.home-container-overlay {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: rgba(0, 0, 7, 0.6);

    @include mixins.tablet-only {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @include mixins.desktop-only {
        width: 100%;
        height: 100vh;
        padding: 20px;

    }
}

.logout-btn {
    padding: 10px;
    background-color: variables.$color-purple;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.2s ease;

    &:hover {
        cursor: pointer;
        background-color: #453aa9;
    }
}

.dashboard-wrapper {
    width: 100%;
    background-color: rgb(13, 9, 36);
    height: auto;
    color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: scroll;

    @include mixins.tablet-only {
        height: 55vh;
        width: 70%;
        padding-top: 0px;
        margin: 10px auto;
    }


    @include mixins.desktop-only {
        position: fixed;
        height: 95vh;
        width: 29%;
        padding: 0px 0px 30px;
    }

    .dashboard-content a {
        text-decoration: none;
    }

    .dashboard {
        border-radius: 10px;
    }

    .dashboard-header {
        background-color: variables.$color-purple;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        @include mixins.tablet-only {
            padding: 10px;
        }
    }

    .user-info-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .user-info {
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        p {
            text-align: left;
        }

    }

    .hello {
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        font-weight: 100;

        @include mixins.tablet-only {
            font-size: 1.5rem;
        }

        @include mixins.tablet-only {
            font-size: 1.7rem;
        }


    }

    .username {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
        display: block;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .dashboard-content {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px 0px;

        @include mixins.tablet-only {
            padding: 10px 25px;
        }

        @include mixins.desktop-only {
            padding: 10px 0px;
        }
    }

    .icon-setting {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 14px;
        flex-direction: column;
        padding: 7px;

        &:hover {
            cursor: pointer;
        }

        a {
            text-decoration: none;
        }
    }

    .home-btn {
        background-color: variables.$color-dkblue;
        padding: 8px 13px;
        border: none;
        color: #fff;
        border-radius: 6px;
        transition: background-color 0.2s ease;

        &:hover {
            cursor: pointer;
            background-color: #3d3491;
        }

        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 0.9rem;
        }
    }

    .icon-setting svg {
        width: 20px;
        height: 20px;

        @include mixins.tablet-only {
            width: 25px;
            height: 25px;
        }
    }

    .dashboard-navigation {
        border-radius: 8px;
        padding: 15px 0px;
        display: flex;
        flex-direction: row;
        gap: 25px;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .dashboard-category-container {
        background-color: variables.$color-dkblue;
        border-radius: 8px;
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        &:hover {
            background-color: rgba(0, 0, 7, 0.5);
            cursor: pointer;
        }

        a {
            text-decoration: none;


            &:hover {
                text-decoration: none;
            }
        }
    }

    svg:hover {
        cursor: pointer;
        color: #fff;
    }

    .dashboard-username {
        font-size: 1.3rem;
        font-weight: 300;
    }

}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin: 5px 0px;

    a {
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 7, 0.5);
    }




    .task-info-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;

        p {
            text-align: left;
            padding: 0;
            margin: 0;
            font-weight: 400;
        }

        .task-name {
            font-size: 1rem;
            font-weight: 100;
        }

        .task-description {
            font-weight: 300;
            padding: 0;
            margin: 0;
        }

        .task-hours {
            font-size: 0.9rem;
            text-align: left;
            font-weight: 500;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            color: variables.$color-paleblue;
        }
    }
}

.task-date {
    padding: 0;
    margin: 0;
}

.image-container {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;

}

.image-container img {
    width: 100%;
    border-radius: 50%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}


.user-image {
    max-height: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mixins.tablet-only {
        height: 220px;
        width: 100%;
    }

    @include mixins.desktop-only {
        max-width: 100px;
        max-height: 100px;
    }
}

.user-image img {
    width: 100%;
    border-radius: 50%;
    height: auto;
    overflow: hidden;
    object-fit: cover;

    @include mixins.tablet-only {
        max-height: 200px;
    }
}

.form {
    padding: 10px 18px;

    @include mixins.tablet-only {
        padding: 10px 0px;
    }

    @include mixins.desktop-only {
        padding: 10px 18px;
    }
}

// DROPDOWN CATEGORY MENU

.show>.btn-secondary.dropdown-toggle {
    padding: 10px;
    background: transparent;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;

    &:hover {
        cursor: pointer;
    }
}

.dashboard-btn {
    padding: 8px;
    background-color: variables.$color-purple;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    width: 100%;
    font-size: 0.9rem;


    &:hover {
        text-decoration: none;
        background-color: #453aa9;
    }
}

.dropdown a {
    font-size: 0.85rem;
    border-bottom: 2px solid variables.$color-dkblue;
    transition: border-bottom 0.1s ease-in-out;

    &:hover {
        border-bottom: 2px solid #fff;
    }
}

.dropdown .show {
    background-color: variables.$color-dkblue;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-item {
    padding: 10px 20px;

    &:hover {
        background-color: unset;
        text-decoration: underline;
    }

    a {
        color: #fff;

        &:hover {

            text-decoration: underline;
        }
    }
}


.dropdown-item .category-link {
    color: #fff;

    &:hover {
        text-decoration: underline;
        border-bottom: 2px solid #fff;
    }
}

.dropdown-container {
    min-width: 14rem;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;

    @include mixins.tablet-only {
        flex-direction: row;
        margin: 0px 0px 15px;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;

        @include mixins.tablet-only {
            display: unset;
        }
    }

    .mobile-nav-links {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 10px 0px;
    }

    img {
        width: 50%;

        @include mixins.tablet-only {
            width: 40%;
        }
    }

    @include mixins.desktop-only {
        display: none;
    }

    a {
        font-size: 1.1rem;
        border-bottom: 2px solid variables.$color-purple;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}